@charset "UTF-8";
/* ==========================================
   PC版のスタイル（初期状態）
   ========================================== */
.top-img {
	background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../images/alcohole.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	image-rendering: auto;
	width: 100%;
  	height: 80vh;
  	background-position: center 60%;
  	
  	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
.top-img p {
	margin: 0 auto;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 2rem;
}
.top-img .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.home-category-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
/*	margin: 20px 9.5%;*/
	margin-top: 8vh;
	margin-left: 10%;
	margin-right: 9.5%;
	margin-bottom: 15vh;
	justify-content: space-around;
}
.home-category-link {
	display: inline-block;
/*	width: calc((100% - 30px) / 3); */
	width: 30%;
	text-decoration: none;
}
.home-category-inner-wrapper {
	display: flex;
	flex-direction: row;
	border: solid 2px black;
	height: 13vh;
	justify-content: space-around;
	padding: 0.5rem 0.5rem;
	align-items: center
}
.home-category-name-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	text-decoration: none;
	font-size: 1.3rem;
}
.home-category-inner-wrapper:hover {
	background-color: #f5f5f5;
}
.home-category-name-wrapper .category-ja {
	font-size: 0.8rem;
}
.wine {
	width: 50px;
	height: 80px;
}
.sparklingWine {
	width: 50px;
	height: 80px;
	margin-left: 30px;
}
.whisky {
	width: 50px;
	height: 53px;
	margin-left: 10px;
}
.brandy{
	width: 50px;
	height: 80px;
	margin-left: 10px;
}
.shochu {
	width: 50px;
	height: 80px;
	margin-left: 20px;
}
.japaneseSake {
	width: 50px;
	height: 80px;
	margin-left: 40px;
}
.liqueur {
	width: 50px;
	height: 80px;
	margin-left: 15px;
}
.beer {
	width: 50px;
	height: 80px;
	margin-left: 5px;
}
.otsumami {
	width: 60px;
	height: 60px;
	margin-left: 10px;
}
   
   
/* ==========================================
   スマホ版のスタイル（画面幅750px以下）
   ========================================== */
@media(max-width: 750px) {
	.top-img {
		height: 50vh;
	}
	.top-img p {
		width: 72%;
		font-size: 1.5rem;
		text-align: center;
	}
	.home-category-wrapper {
		flex-direction: column;
	}
	.home-category-link {
		display: inline-block;
		width: 100%;
		text-decoration: none;
	}
	.home-category-inner-wrapper {
		border: solid 2px black;
		height: 15vh;
	}
}